# Flutter/Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
*.iml
.idea/
.vscode/
*.log

# Android
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/xcshareddata/

# macOS
macos/Pods/
macos/Flutter/GeneratedPluginRegistrant.swift

# Platform build outputs
*.apk
*.aab
*.ipa
*.app

# Coverage
coverage/

# Generated
lib/data/api/
